*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.crashcoqide
*.v#
*.thm
*.vos
*.vok
*.glob
*.vo
*~
*.Makefile.d
**Makefile.conf
**Makefile.coq*
**Makefile.rocq
**Makefile.rocq.conf
**Makefile.rocq.d
**.o
**.cm*
plugin/**.cm*

plugin/*.ml*.d
plugin/g_plugin.ml
*_opam/*
.filestoinstall
**.a
META
**.ml.d
**.mlg.d
**.mlpack.d
**.cmt
.gitignore
